---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <url>
    <loc>{{ site.url }}/en/</loc>
    <xhtml:link rel="alternate" hreflang="en"       href="{{ site.url }}/en/"/>
    <xhtml:link rel="alternate" hreflang="nl"       href="{{ site.url }}/nl/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/en/"/>
    <lastmod>{{ site.buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/nl/</loc>
    <xhtml:link rel="alternate" hreflang="en"       href="{{ site.url }}/en/"/>
    <xhtml:link rel="alternate" hreflang="nl"       href="{{ site.url }}/nl/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/en/"/>
    <lastmod>{{ site.buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
</urlset>
